{% load i18n static %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "umap/login.css" %}" />
    <title>交安辅助设计</title>
</head>
<body>
<div id="content-main">
<form id="login-form" name="LoginForm" action="/login/" method="post">
    {% csrf_token %}
    <div class="from-top">
        <lable>交安辅助设计</lable>
    </div>
    <div class="form-row">
        <label class="control-label" for="username">用户名：</label><br />
        <div class="controls">
            <input type="text" id="username" name="username" value="{{ username }}" >
        </div>
    </div>
    <div class="form-row">
        <label class="control-label" for="password">密&nbsp;码：</label><br />
        <div class="controls">
            <input type="password" name="password" id="password" >
        </div>
    </div>
    <div class="submit-row">
        <button type="submit" class="btn">登录</button>
    </div>
    <div class="from-footer">
        <label>测试账号：test&nbsp;&nbsp;&nbsp;密码：test</label>
        <p><a target="link" href="{{ UMAP_ABOUT_LINK }}">关于我们</a></p>
    </div>
</form>
</div>
</body>
</html>