{% load compress %}
{% compress js %}
    <script src="{{ STATIC_URL }}storage/reqs/leaflet/leaflet-src.js"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.svg.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/editable/Path.Drag.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/editable/Leaflet.Editable.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/hash/leaflet-hash.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/i18n/Leaflet.i18n.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/minimap/Control.MiniMap.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/csv2geojson/csv2geojson.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/togeojson/togeojson.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/osmtogeojson/osmtogeojson.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/loading/Control.Loading.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/markercluster/leaflet.markercluster-src.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/contextmenu/leaflet.contextmenu-src.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/photon/leaflet.photon.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/georsstogeojson/GeoRSSToGeoJSON.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/heat/leaflet-heat.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/fullscreen/Leaflet.fullscreen.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/toolbar/leaflet.toolbar-src.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/formbuilder/Leaflet.FormBuilder.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/measurable/Leaflet.Measurable.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/togpx/togpx.js"></script>
    <script src="{{ STATIC_URL }}storage/reqs/tokml/tokml.js"></script>
    <script src="{{ STATIC_URL }}lmd/coordinates/Leaflet.Coordinates.js"></script>
{% endcompress %}
{% if locale %}
    <script src="{{ STATIC_URL }}storage/src/locale/{{ locale }}.js"></script>
{% endif %}
{% compress js %}
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.core.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.popup.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.xhr.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.forms.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.icon.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.features.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.layer.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.controls.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.slideshow.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.tableeditor.js"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.js"></script>
    <script src="{{ STATIC_URL }}storage/contrib/js/storage.ui.default.js"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.storage.features.js"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.js"></script>
    <script src="{{ STATIC_URL }}lmd/marker/lmd.storage.icon.js"></script>
    <script src="{{ STATIC_URL }}lmd/marker/lmd.marker.data.js"></script>
    <script src="{{ STATIC_URL }}lmd/marker/lmd.marker.js"></script>
    <script src="{{ STATIC_URL }}lmd/guard/lmd.guardbar.js"></script>
    <script src="{{ STATIC_URL }}lmd/area/lmd.area.js"></script>
    <script src="{{ STATIC_URL }}lmd/label/lmd.label.js"></script>
    <script src="{{ STATIC_URL }}lmd/hide/lmd.hide.js"></script>
    <script src="{{ STATIC_URL }}lmd/pillar/lmd.pillar.js"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.tj.js"></script>
    <script src="{{ STATIC_URL }}lmd/utils/lmd.convert.point.js"></script>
    <script src="{{ STATIC_URL }}lmd/utils/lmd.base64.js"></script>
    <script src="{{ STATIC_URL }}lmd/utils/lmd.offset.js"></script>
    <script src="{{ STATIC_URL }}lmd/utils/turf.min.js"></script>
    <script src="{{ STATIC_URL }}lmd/plug/chexingdao.js"></script>
    <script src="{{ STATIC_URL }}lmd/plug/cxdfjx.js"></script>
    <script src="{{ STATIC_URL }}lmd/plug/jck.js"></script>
    <script src="{{ STATIC_URL }}lmd/plug/jiansuqiu.js"></script>
{% endcompress %}
