{% load compress %}
{% compress js %}
    <script src="{{ STATIC_URL }}storage/reqs/leaflet/leaflet-src.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.svg.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/editable/Path.Drag.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/editable/Leaflet.Editable.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/hash/leaflet-hash.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/i18n/Leaflet.i18n.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/minimap/Control.MiniMap.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/csv2geojson/csv2geojson.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/togeojson/togeojson.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/osmtogeojson/osmtogeojson.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/loading/Control.Loading.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/markercluster/leaflet.markercluster-src.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/contextmenu/leaflet.contextmenu-src.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/photon/leaflet.photon.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/georsstogeojson/GeoRSSToGeoJSON.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/heat/leaflet-heat.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/fullscreen/Leaflet.fullscreen.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/toolbar/leaflet.toolbar-src.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/formbuilder/Leaflet.FormBuilder.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/measurable/Leaflet.Measurable.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/togpx/togpx.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/reqs/tokml/tokml.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/coordinates/Leaflet.Coordinates.js{{ JS_VERSION }}"></script>
{% endcompress %}
{% if locale %}
    <script src="{{ STATIC_URL }}storage/src/locale/{{ locale }}.js{{ JS_VERSION }}"></script>
{% endif %}
{% compress js %}
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.core.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.popup.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.xhr.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.forms.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.icon.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.features.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.layer.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.controls.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.slideshow.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.tableeditor.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}storage/contrib/js/storage.ui.default.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.storage.features.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/marker/lmd.storage.icon.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/marker/lmd.marker.data.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/marker/lmd.marker.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/guard/lmd.guardbar.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/area/lmd.area.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/label/lmd.label.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/hide/lmd.hide.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/pillar/lmd.pillar.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/lmd.tj.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/utils/lmd.convert.point.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/utils/lmd.base64.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/utils/lmd.offset.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/utils/turf.min.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/jck.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/jiansuqiu.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/biaoxian.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/renxinghengdao.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/chexingdao.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/cxdfjx.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/zxxd.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/zxxs.js{{ JS_VERSION }}"></script>
    <script src="{{ STATIC_URL }}lmd/plug/lmbj.js{{ JS_VERSION }}"></script>
{% endcompress %}
