.storage-rect-icon {
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;

    text-align: center;
}

.storage-square-icon {
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;

    text-align: center;
}

.storage-opaque-icon {

}


.storage-pillar-icon {

}
.storage-pillar-icon img{

}

.storage-lmdcircle-icon {
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;

    text-align: center;
}
.leaflet-interactive {
   border: 1px solid white
}

svg text1{
   text-decoration:underline;
}

.padding1 {
   padding:1px !important;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  display:none;
}
