.storage-rect-icon {
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    height: 60px;
    width: 80px;
    text-align: center;
}
.storage-rect-icon img{

}

.storage-square-icon {
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    height: 60px;
    width: 60px;
    text-align: center;
}
.storage-square-icon img{
  height:60px;
  width:60px;
}


.storage-opaque-icon {
    height: 60px;
    width: 60px;
}
.storage-opaque-icon img{
  height:60px;
  width:60px;
}

.storage-lmdcircle-icon {
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;
    height: 60px;
    width: 60px;
    text-align: center;
}
.storage-lmdcircle-icon img{
  height:50px;
  width:50px;
}
