.storage-rect-icon {
    /*border: 1px solid white;*/
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.storage-square-icon {
    /*border: 1px solid white;*/
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.storage-lmdcircle-icon {
    /*border: 1px solid white;*/
    border-radius: 50px 50px 50px 50px;
    text-align: center;
}
/*.leaflet-interactive:focus {
   border: 3px solid #06fc54
}*/
.get-eyes-focused {
   border: 3px solid #06fc54
}

svg text{
   font-family:  "Microsoft YaHei",  "STHeiti", "WenQuanYi Micro Hei";
   letter-spacing: 4px;
}

.padding1 {
   padding:1px !important;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  display:none;
}

/*给桩号的svg text样式*/
.subm {
    font-size: 26px;
    writing-mode:tb;
}
.subkm{
    font-size: 32px;
    writing-mode:tb
}
/*给立柱的svg text样式*/
.pillt {
    font-size:70px;
}
